[submodule "vote/lib/forge-std"]
	path = vote/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "simple_auction/lib/forge-std"]
	path = simple_auction/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "blind_auction/lib/forge-std"]
	path = blind_auction/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
